    {% if not (disable_nav | default(false)) %}
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">{{ 'Toggle navigation' | trans }}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hide-text" href="{{ path('datahub_shared_default_index') }}">
                        {{ service_name }}
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav main-nav">
                        <li>
                            <a href="{{ path('datahub_shared_default_index') }}"
                                {% if app.request.attributes.get('_route') == 'datahub_shared_default_index' %} class="active"{% endif %}>
                                {{ 'Dashboard' | trans }}
                            </a>
                        </li>
                        {% if is_granted('ROLE_USER') and is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('datahub_oauth_default_index') }}"
                                {% if app.request.attributes.get('_route') == 'datahub_oauth_default_index' %} class="active"{% endif %}>
                                    {{ 'OAuth' | trans }}
                                </a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') and is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('datahub_user_users_index') }}"
                                {% if app.request.attributes.get('_route') == 'datahub_user_users_index' %} class="active"{% endif %}>
                                    {{ 'Users' | trans }}
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('nelmio_api_doc_index') }}">
                                {{ 'REST API' | trans }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('datahub_static_docs_oai') }}"
                                {% if app.request.attributes.get('_route') == 'datahub_static_docs_oai' %} class="active"{% endif %}>
                                {{ 'OAI-PMH' | trans }}
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('ROLE_USER') and is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                {{ 'Logout' | trans }}
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">
                                {{ 'Login' | trans }}
                            </a>
                        </li>
                    {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
    {% endif %}
