{% extends 'DataHubUserBundle:Layouts:default.html.twig' %}

{% set page_title = 'users.adduser' | trans({}, 'FOSUserBundle') %}

{% block content %}

    <div class="panel panel-primary">

        <div class="panel-heading">
            <div class="btn-group pull-right">
                <a href="{{ path('datahub_user_users_edit', { username: user.getUsername() }) }}" class="btn btn-xs btn-default user-edit-user">
                    <i class="fa fa-pencil"></i> {{ 'Edit user' | trans }}
                </a>
                {% if 'ROLE_ADMIN' not in user.getRoles() %}
                <a href="{{ path('datahub_user_users_delete', { username: user.getUsername() }) }}" class="btn btn-xs btn-danger user-delete-user">
                    <i class="fa fa-plus"></i> {{ 'Delete user' | trans }}
                </a>
                {% endif %}
            </div>

            <h3 class="panel-title">
                <i class="fa fa-user"></i>
                {{ 'Profile' | trans }}: {{ user.getUsername() }}
            </h3>
        </div>

        <div class="panel-body">

            <dl class="user-profile">
                <dt>{{ 'Username' | trans }}</dt>
                <dd class="field-username">{{ user.getUsername() }}</dd>
                <dt>{{ 'Full name' | trans }}</dt>
                <dd class="field-fullname">{{ user.getFirstName() }} {{ user.getLastName() }}</dd>
                <dt>{{ 'E-mail' | trans }}</dt>
                <dd class="field-email">{{ user.getEmail() }}</dd>
                <dt>{{ 'Roles' | trans }}</dt>
                <dd class="field-roles">{{ user.getRoles() | join('<br>') | raw }}</dd>
            </dl>
            </div>
        </div>

        {{ include('DataHubOAuthBundle:Clients:profile.html.twig', { 'clients': clients }) }}

    </div>

{% endblock content %}