<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{% if page_title is defined %}{{ page_title }} &middot; {% endif%}{% if section_title is defined %}{{ section_title }} &mdash; {% endif %}{{ service_name }}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}">
    <link href="/css/main.css" rel="stylesheet">
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
</head>
<body>
    {% if not (disable_nav | default(false)) %}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">{{ 'Toggle navigation' | trans }}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('datahub_shared_default_index') }}">
                        {{ service_name }}
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% if is_granted('ROLE_USER') and is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('datahub_oauth_default_index') }}">
                                    {{ 'OAuth' | trans }}
                                </a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') and is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('datahub_user_default_index') }}">
                                    {{ 'Users' | trans }}
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('nelmio_api_doc_index') }}">
                                {{ 'REST API' | trans }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('datahub_static_docs_oai') }}">
                                {{ 'OAI-PMH' | trans }}
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('ROLE_USER') and is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                {{ 'Logout' | trans }}
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">
                                {{ 'Login' | trans }}
                            </a>
                        </li>
                    {% endif %}

                    </ul>
                </div>
            </div>
        </nav>
    {% endif %}

    <div class="container-fluid">
        {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}

        {% block body %}{% endblock %}
    </div>
<script>
    app = {
        base_path: '{{ app.request.getBaseURL() }}/',
        asset_path: '{{ asset('') }}',
    };
</script>
{% block javascripts %}
{% javascripts %}
{% endjavascripts %}
{% endblock %}
{% block scripts %}{% endblock %}
<script src="/js/main.js"></script>
</body>
</html>
