{% extends 'DataHubOAuthBundle:Default:layout.html.twig' %}

{% set page_title = 'OAuth client: %client%' | trans({ '%client%': client.getApplicationName() }) %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-cloud-upload"></i>
                {{ 'OAuth client: %client%' | trans({ '%client%': client.getApplicationName() }) }}
            </h3>
        </div>
        <table class="table table-striped">
            <tr>
                <th>{{ 'Application name' | trans }}</th>
                <td>{{ client.getApplicationName() }}</td>
            </tr>
            {% if is_granted('ROLE_ADMIN') %}
            <tr>
                <th>{{ 'Owner' | trans }}</th>
                <td>{{ client.getUser().getUserName() }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>{{ 'Allowed grant types' | trans }}</th>
                <td>{{ client.getAllowedGrantTypes() | join('<br>') | raw }}</td>
            </tr>
            <tr>
                <th>{{ 'Redirect URIs' | trans }}</th>
                <td>{{ client.getRedirectUris() | join('<br>') | raw }}</td>
            </tr>
            <tr>
                <th>{{ 'Public ID' | trans }}</th>
                <td>{{ client.getPublicId() }}</td>
            </tr>
            <tr>
                <th>{{ 'Secret' | trans }}</th>
                <td>{{ client.getSecret() }}</td>
            </tr>
        </table>
        <div class="panel-footer">
            <div class="row">
                <div class="col-xs-8">
                    <div class="btn-group">
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('datahub_oauth_clients_index') }}" class="btn btn-default">
                            <i class="fa fa-angle-double-left"></i> {{ 'Back' | trans }}
                        </a>
                        {% endif %}
                        <a href="{{ path('datahub_oauth_client_edit', { externalId: client.getExternalId() }) }}" class="btn btn-default">
                            <i class="fa fa-edit"></i> {{ 'Edit' | trans }}
                        </a>
                    </div>
                </div>
                <div class="col-xs-4 text-right">
                    <div class="btn-group">
                        <a href="{{ path('datahub_oauth_client_revoke_tokens', { externalId: client.getExternalId() }) }}" class="btn btn-danger">
                            <i class="fa fa-trash"></i> {{ 'Revoke' | trans }}
                        </a>
                    </div>

                    <div class="btn-group">
                        <a href="{{ path('datahub_oauth_client_delete', { externalId: client.getExternalId() }) }}" class="btn btn-danger">
                            <i class="fa fa-trash"></i> {{ 'Delete this client' | trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
