{% extends 'VKCDataHubOAuthBundle:Default:layout.html.twig' %}

{% set page_title = 'Clients' | trans %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ 'Clients' | trans }}

                (<a href="{{ path('vkc_datahub_oauth_clients_new') }}">{{ 'add' | trans }}</a>)
            </h3>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ 'Label' | trans }}</th>
                    <th>{{ 'Allowed grant types' | trans }}</th>
                    <th>{{ 'Redirect URIs' | trans }}</th>
                    <th>{{ 'Actions' | trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.getLabel() }}</td>
                        <td>{{ entity.getAllowedGrantTypes() | join('<br>') | raw }}</td>
                        <td>{{ entity.getRedirectUris() | join('<br>') | raw }}</td>
                        <td>
                            <div class="btn-group">
                                <a href="{{ path('vkc_datahub_oauth_clients_show', { id: entity.getId() }) }}" class="btn btn-xs btn-default">
                                    <i class="fa fa-eye"></i> {{ 'View' | trans }}
                                </a>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">
                            {{ 'No results found.' | trans }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
